.profile__edit-button {
   max-width: 24px;
   max-height: 24px;
   background-position: center;
   background-repeat: no-repeat;
   background-color: transparent;
   border-style: none;
   cursor: pointer;
   align-self: center;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 690px) {
   .profile__edit-button {
      max-width: 18px;
      max-height: 18px;
      margin-left: 10px;
   }
}