.profile__edit-button {
   width: 24px;
   height: 24px;
   background-image: url(/pictures/edit_Button.svg);
   background-position: center;
   background-repeat: no-repeat;
   background-color: transparent;
   border-style: none;
   cursor: pointer;
   margin-top: 15px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 690px) {
   .profile__edit-button {
      max-width: 18px;
      max-height: 18px;
      margin-left: 10px;
      background-image: url(/pictures/edit__button_s.svg);
      margin-top: 10px;

   }
}