.page {
    max-width: 880px;
    margin: 0 auto;
    background-color: black;
 }


.header {
    max-width: 880px;
    max-height: 74px;
    margin-top: 45px;
    border-bottom: #545454 solid 1px;
}

.profile {
    max-width: 880px;
    max-height: 120px;
    display: flex;
    margin-top: 40px;
    align-items: center;
    margin-bottom: 50px;
}

.avatar {
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
    margin-right: 30px;
}


.profile__info {
    display: flex;
    flex-direction: column;
    color: white;
    margin-right: auto;
}

.profile__info-container {
    display: flex;
}

.profile__title {
    font-family: "Inter";
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    margin: 0 18px 16px 0;
}

.profile__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0px 0px 0px 0px;
    margin-top: 0px;
}

.add__button {
    height: 50px;
    width: 150px;
    background-image: url(./pictures/Add\ Button.png);
    background-position:center;
    background-repeat:no-repeat;
    background-color: transparent;
}


.edit__button {
    min-width: 24px;
    min-height: 24px;
    background-image: url(./pictures/Edit\ Button.svg);
    background-position:center;
    background-repeat:no-repeat;
    background-color: transparent;
    border-style: none;
}

.elements {
        display: grid;
        box-sizing: border-box;
        aspect-ratio: auto;
        object-fit: cover;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: auto;
        gap: 16px;
        border-color: white;
        margin: 0 auto;
     }


.element__img {
    max-height: 282px;
    aspect-ratio: 4/3;
    max-width: 284px;
    object-fit: contain;
    max-height: 100%;


}

.element {
    margin: 0 auto;
    min-height: 361px;
    background-color: white;
    max-width: 282px;
    border-radius: 5%;
    overflow: hidden;
}


.element__container {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}


.element__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.element__button {
    min-width: 22px;
    min-height: 19px;
    margin-left: 18px;
    background-image: url(./pictures/Vector\ \(Stroke\).png);
    background-position:center;
    background-repeat:no-repeat;
    background-color: white;
    border-style: none;
}


.footer {
    color: #545454;
    margin-top: 66px;
    margin-bottom: 60px;
}


@media screen and (max-width: 890px) {

    .elements {
        max-width: fit-content;
        grid-template-columns: 1fr 1fr ; 
        display: grid;
        box-sizing: border-box;
        aspect-ratio: auto;
        object-fit: cover;
        grid-template-rows: auto;
        margin: 0 auto;
    }
    
    .profile {
        margin: 50px 15px 50px 15px;
    }

    .logo {
        margin-left: 25px;
    }

    .footer__text {
        margin-left: 25px;
    }
}

@media screen and (max-width: 650px) {
   .profile {
    flex-direction: column;
    max-height: fit-content;

   }

   .profile__info {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 36px;
    margin-top: 28px;
   }

   .add__button {
    min-height: 50px;
    width: 282px;
    background-image: url(./pictures/Add\ Button2.png);
    background-color: transparent;
}

.profile__title {
    font-size: 27px;
    line-height: 33px;
    margin: 0 0 0 0;
    text-align: center;
}


.edit__button {
    max-width: 18px;
    max-height: 18px;
    margin-left: 18px;
}

} 