.popup__container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 500px;
 }


 @media screen and (max-width: 620px) {
    .popup__container {
    width: 280px;
   }
 }