.popup__content {
   display: flex;
   flex-direction: column;
   background-color: #FFFFFF;
   width: 430px;
   height: 330px;
   position: relative;
   margin: 0 auto;
   border-radius: 5%;
}

 @media screen and (max-width: 650px) {
    .popup__content {
      max-width: 282px;
      height: 322px;
   }
}


 