.popup__content {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: 430px;
    height: 330px;
    border-radius: 5px;
    position: relative;
    margin: 0 auto;
    border-radius: 5%;
 }

 @media screen and (max-width: 650px) {
    .popup__content {
    max-width: 282px;
    height: 322px; }
 }


 