.popup__save {
   width: 358px;
   height: 50px;
   background-color: black;
   margin: 0 auto;
   border-style: none;
   border-radius: 2px;
   margin-top: 48px;
   font-family: 'Inter', 'Arial', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   text-align: center;
   color: #FFFFFF;
   cursor: pointer;
   margin-bottom: 37px;
}

 .popup__save:hover {
    opacity: 0.8;
}

 @media screen and (max-width: 650px) {
   .popup__save {
      font-size: 14px;
      line-height: 17px;
      max-width: 238px;
      max-height: 46px;
      margin-top: 5px;
      margin-bottom: 25px;
   }
}