.profile__subtitle {
   font-family: 'Inter', 'Arial', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   margin: 0px 0px 0px 0px;
   margin-top: 0px;
}


@media screen and (max-width: 690px) {

   .profile__subtitle {
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #FFFFFF;
      margin-top: 15px;
   }
}