.profile__add-button {
   height: 50px;
   width: 150px;
   background-image: url(../../../pictures/add_button.svg);
   background-position: center;
   background-repeat: no-repeat;
   background-color: transparent;
   border-style: none;
   cursor: pointer;
   border: 2px white solid;
   align-self: center;
   border-radius: 2px;
}

.profile__add-button:hover {
   opacity: 0.6;
}

@media screen and (max-width: 690px) {
   .profile__add-button {
      width: 282px;
      background-image: url(../../../pictures/add_button_l.svg);
   }
}



