.popup__close-btn {
  display: flex;
  width: 32px;
  height: 32px;
  border-style: none;
  background-image: url(../../../pictures/close_icon.svg);
  background-color: transparent;
  justify-self: flex-end;
  align-self: flex-end;
  margin-bottom: 8px;
  margin-left: 8px;
  cursor: pointer;
}
 
 .popup__close-btn:hover {
   opacity: 0.6;
 }
 

 @media screen and (max-width: 650px) {
  .popup__close-btn {
    background-image: url(../../../pictures/close_icon_s.svg);
    width: 20px;
    height: 20px;
    margin-bottom: 16px;
 }
}
