.profile__info {
   display: grid;
   flex-direction: column;
   color: white;
   margin-right: auto;
   grid-template-columns: 1fr 25px;
}

@media screen and (max-width: 690px) {
 
   .profile__info {
      margin: 0 auto;
      text-align: center;
      margin-bottom: 36px;
      margin-top: 28px;
   }
}