.element__button {
   min-width: 22px;
   min-height: 19px;
   margin-left: 18px;
   background-image: url(../../../pictures/stroke.png);
   background-position: center;
   background-repeat: no-repeat;
   background-color: white;
   border-style: none;
   cursor: pointer;
}

.element__button:hover {
   opacity: 0.6;
}