.element {
   margin: 0 auto;
   background-color: white;
   max-width: 282px;
   border-radius: 5%;
   overflow: hidden;
}

@media screen and (max-width: 590px) {

   .element {
      margin-bottom: 11px;
   }
}